{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-sm-4 jumbotron border">
            <h4>Taki tam blog z tekstami ze wspólnego mianownika</h4>
            <p> Dotychczas opublikowałem {% total_articles %} artykułów. </p>
            <hr>
            <h5>Najnowsze posty</h5>
            {% show_latest_articles 3 %}
            <hr>
            <h5>Najczęściej komentowane posty</h5>
            {% get_most_commented_articles as most_commented_articles %}
            <ul>
                {% for article in most_commented_articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}" class="text-secondary">{{ article.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>