{% extends "blog/base.html" %}
{% block title %}Dodaj nowy komentarz{% endblock %}
{% block content %}

{% if added %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Sukces!</h4>
    <hr>
    <p>Komentarz został dodany</p>
</div>
<p>
    <a href="{{ article_url }}" class="btn btn-success">Wróć do artykułu</a>
</p>
{% else %}
<h2 class="jumbotron p-3 mb-2 bg-info text-white">Dodaj nowy komentarz</h2>
<div>
    <form action="." method="post">
        {% for field in comment_form %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Dodaj komentarz" class="btn btn-info">
    </form>
</div>
{% endif %}
{% endblock %}
