{% extends "blog/base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h1 class="jumbotron p-3 mb-2 bg-info text-white">{{ article.title }}</h1>
<p class="text-secondary">
    Opublikowany {{ article.publish_date }} przez {{ article.author }}
</p>
<p>
    {{ article.article|linebreaks }}
</p>
<p>
    <a href="{% url 'blog:article_share' article.pk %}" class="btn btn-secondary">
        Udostępnij ten artykuł via e-mail
    </a>
</p>


{% with comments.count as total_comments %}
<h2 class="alert alert-success">
    komentarz{{ total_comments|pluralize:",e" }}: {{ total_comments }}
</h2>
<hr>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Komentarz dodany przez {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.comment|linebreaks }}
    <hr>
</div>
{% empty %}
<p>Nie ma jeszcze żadnych komentarzy.</p>
{% endfor %}

<p>
    <a href="{% url 'blog:article_comment' article.pk %}" class="btn btn-secondary">Dodaj komentarz</a>
</p>
{% endblock %}